h1 {
  text-align: center;
  margin: 5px;
}

.title-container {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.options {
  width: 90%;
  margin: auto;
  text-align: center;
}

.flowchart {
  width: 90%;
  margin: auto;
  border: solid black 3px;
  border-radius: 3vmin;
  margin-bottom: 1vh;
}

.attributes,
.items {
  display: inline-block;
  margin-right: 50px;
  margin-left: 50px;
}

.winning-button {
  display: block;
  margin: 10px auto;
  width: 150px;
  height: 40px;
}
