h1 {
  text-align: center;
  margin: 5px;
  padding: 0;
}

.options {
  width: 90%;
  margin: auto;
  text-align: center;
}

.flowchart {
  width: 90%;
  margin: auto;
  border: solid black 3px;
}

.attributes,
.items {
  display: inline-block;
  margin-right: 50px;
  margin-left: 50px;
}

.winning-button {
  display: block;
  margin: 10px auto;
  width: 150px;
  height: 40px;
}
